doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    block stylesheets
    script(src='/javascripts/vendor/d3.min.js')
    block javascripts
  body
    block content
