extends layout

block stylesheets

block javascripts
  script(src='/javascripts/dataHandler.js')

block content
  h1= title
  p Welcome to #{title}
  a(href='/api/auth/logout') ログアウト
  a(href='/api/heartrate') 心拍数
